
body {background-position: center;}

.viewportSize100{height: 100vh;}

/*.vh25{
  height: 25vh;
  margin-top: 10px;
}No se está usando*/

.header {
  background-image: url("Imagenes/img1.jpg");
 /*background-color: rgb(213, 43, 30);*/
}

.img {
 align-items: center;
 display: flex;
 justify-content: center;
}
.bordesRedondos{
    border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}
.navbar-toggler{
  border: 1px solid white!important;
}

.boton {
 align-items: center;
 display: flex;
 height: 40px;
 justify-content: center;
 margin-top: 22px;
 padding-left: 42px;
 text-align: center;
}
.collapse.navbar-collapse.row{
  margin-left: 30px;
}
.nav-link:hover {
  opacity: .6;
  transition: 0.7s;

}
@font-face {
  font-family: "dusha_plusregular";
  src: local('dusha-regular'),
  url(dusha-regular.woff) format('woff');
}
h1{
  font-family: "dusha_plusregular"!important;
  color: white!important;
}
.nav-link{
  font-family: 'Raleway', sans-serif;
  color: white!important;
}
.changeColor {
 color: #952e4b;
}

.fullHeigth {height: 100%;}

/*.50viewport{
  height: 50vh;
}hay que arreglar esto que no se porque da error*/

.rowDosInt1{height: 60vh;}

.rowDosInt2{height: 40vh;}

.rowTresInt{
  height: 22vh;
  margin: 10px;
}

#mainUno {background-color: rgb(253, 255, 214);}

#mainDos {background-color: rgb(87, 32, 199);}

#mainTres {background-color: rgb(250, 6, 242);}

.bordes{
  border: 2px solid black;
}

.centrado{
   text-align: center;
}
.grupo{
  margin-bottom: 45px;
}
.grupo:hover{
  box-shadow: 5px 5px 3px 1px #999;
  transition: 0.2s;
}

#enfrentamientos{
text-align: center;
font-family: 'Baloo Chettan', cursive; /*puse de ejemplo este tipo de letra*/
}

.tituloGrupo{
  cursor: pointer;
}
.tituloGrupo:hover{
text-shadow: 0.1em 0.1em 0.2em #952e4b;
}
#nuevoDiv{
  margin-bottom: 10px;
}
.espacio{
  margin-bottom: 45px;
}

.lindo{
  font-family: 'Baloo Chettan', cursive;
  font-size: 23px;
}

.margen{
  margin-bottom: 45px;
}

.col-3.lindo{
  font-size: 20px;
}

.imgn{
    width: 96px;
}
